<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${sectionName}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
<div th:insert="~{navigation :: nav}"></div>

<div class="container-fluid main profile">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12">
            <h2><span th:text="${sectionName}"></span></h2>
            <hr>
            <div class="media" th:each="question:${myQuestins.list}">
                <div class="media-left media-middle">
                    <a href="#">
                        <img class="media-object img-rounded" th:src="${question.avatarUrl}" >
                    </a>
                </div>
                <div class="media-body" >
                    <h4 class="media-heading" th:text="${question.title}"></h4>
                    <span class="label label-info">随笔</span>
                    <span class="text-color-999"> <span th:text="${question.commentCount}"></span>个评论 • <span th:text="${question.viewCount}"></span> 次浏览 • <span th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd HH:mm')}"></span></span>
                </div>
            </div>
            <p>当前 <span th:text="${myQuestins.pageNum}"></span> 页,总 <span th:text="${myQuestins.pages}"></span> 页,共 <span th:text="${myQuestins.total}"></span> 条记录</p>
            <nav aria-label="Page navigation" >
                <ul class="pagination">
                    <li th:if="${myQuestins.getPageNum()!=1} ">
                        <a th:href="@{'/profile/'+${section}}" aria-label="Previous">
                            <span aria-hidden="true">首页</span>
                        </a>
                    </li>
                    <li th:if="${myQuestins.getPageNum()!=1} ">
                        <a th:href="@{'/profile/'+${section}(pageNum=${myQuestins.hasPreviousPage}?${myQuestins.prePage}:1)}">
                            &lt;
                        </a>
                    </li>
                    <li th:if="${myQuestins.getPageNum()-3 >=1}" ><a th:href="@{'/profile/'+${section}(pageNum=${myQuestins.getPageNum()-3})}" th:text="${myQuestins.getPageNum() -3}" >1</a></li>
                    <li th:if="${myQuestins.getPageNum()-2 >=1}" ><a th:href="@{'/profile/'+${section}(pageNum=${myQuestins.getPageNum()-2})}" th:text="${myQuestins.getPageNum() -2}" >1</a></li>
                    <li th:if="${myQuestins.getPageNum()-1 >=1}" ><a th:href="@{'/profile/'+${section}(pageNum=${myQuestins.getPageNum()-1})}" th:text="${myQuestins.getPageNum() -1}" >1</a></li>
                    <li class="active"><a href="#" th:text="${myQuestins.getPageNum()}">1</a></li>
                    <li th:if="${myQuestins.getPageNum()+1 <=myQuestins.getPages()}" ><a th:href="@{'/profile/'+${section}(pageNum=${myQuestins.getPageNum()+1})}" th:text="${myQuestins.getPageNum() +1}" >1</a></li>
                    <li th:if="${myQuestins.getPageNum()+2 <=myQuestins.getPages()}" ><a th:href="@{'/profile/'+${section}(pageNum=${myQuestins.getPageNum()+2})}" th:text="${myQuestins.getPageNum() +2}" >1</a></li>
                    <li th:if="${myQuestins.getPageNum()+3 <=myQuestins.getPages()}" ><a th:href="@{'/profile/'+${section}(pageNum=${myQuestins.getPageNum()+3})}" th:text="${myQuestins.getPageNum() +3}" >1</a></li>
                    <li th:if="${myQuestins.getPageNum()!=myQuestins.getPages()}">
                        <a th:href="@{'/profile/'+${section}(pageNum=${myQuestins.hasNextPage}?${myQuestins.nextPage}:${myQuestins.pages})}">
                            &gt;
                        </a>
                    </li>
                    <li th:if="${myQuestins.getPageNum()!=myQuestins.getPages()}">
                        <a th:href="@{'/profile/'+${section}(pageNum=${myQuestins.pages})}" aria-label="Next">
                            <span aria-hidden="true">尾页</span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>
        <div class="col-lg-3 col-md-12 col-sm-12">
            <div class="list-group sectoin">
                <a href="/profile/questions"  th:class="${section=='questions'}? 'active list-group-item ' : 'list-group-item '">
                    我的问题
                </a>
                <a href="/profile/replies"  th:class="${section=='replies'}? 'active list-group-item ': 'list-group-item '">
                    最新回复
                    <span class="badge">14</span>
                </a>
            </div>

        </div>
    </div>
</div>
</body>
</html>